# Copy to license.env (gitignored) or export:
#   export SYNTHTRAFFIC_LICENSE_FILE=/path/to/license.env
# For local go-built CLI from the synthtraffic repo:
#   export SYNTHTRAFFIC_LICENSE_DEV=1
#   export SYNTHTRAFFIC_LICENSE_FILE=/workspace/testdata/license/valid.env
#   /workspace/bin/synthtraffic sample lab/ecommerce/01-customers.yaml --events 3 --seed 42
